@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Manage Users";
}
@model UserModel

<div id="myModal" class="modalc p-sm-3 rounded-3">

    <!-- Modal content -->
    <div class="modalc-content rounded-3 w-50">
        <div class="row justify-content-end">
            <div class="d-flex justify-content-end">
                <span class="modalc-close modalc-close-icon">&times;</span>
            </div>
        </div>
        <h3 class="text-center mb-3">Edit User Data</h3>
        <div class="p-3">
            <form id="editForm">
                <div class="row">
                    <label id="lblId" class="d-none"></label>
                    <div class="mb-3 col-md-6 col-lg-4 col-sm-12">
                        <label for="Name" class="form-label text-center">Name</label>
                        <input id="txtName" name="Name" class="form-control" Placeholder="Name" required />
                    </div>
                    <div class="mb-3 col-md-6 col-lg-4 col-sm-12">
                        <label for="EmailId" class="form-label text-center">Email</label>
                        <input id="txtEmail" name="EmailId" class="form-control" Placeholder="Email" required>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-4 col-sm-12">
                        <label for="MobileNumber" class="form-label text-center">Mobile</label>
                        <input id="txtMobile" type="tel" name=MobileNumber class="form-control" Placeholder="Mobile" required>
                    </div>

                    <div class="mb-3 col-md-6 col-lg-4 col-sm-12">
                        <label for="RoleId" class="form-label text-center">Role</label>
                        <select id="ddlRole" class="form-control" required>
                            <option value="1">Super Admin</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-4 col-sm-12">
                        <label for="Username" class="form-label text-center">Username</label>
                        <input id="txtUsername" name="Username" class="form-control" Placeholder="User Id" required>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-4 col-sm-12">
                        <label for="Password" class="form-label text-center">Password</label>
                        <input id="txtPassword" name="Password" class="form-control" Placeholder="Password" required>
                    </div>


                    <div class="mb-3 col-md col-sm-12">
                        <label for="Address" class="form-label text-center">Address</label>
                        <input id="txtAddress" name="Address" class="form-control" Placeholder="Address" >
                    </div>

                    <div class="mb-3 col-12 col-md-auto py-4 mt-1">
                        <button type="submit" class="btn btn-block btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="notice-wrap">
        <asp:Label ID="lblMessage" class="notice-wrap"></asp:Label>
    </div>
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Manage User</h1>
    </div>
    <div class="row">
        <div class="col-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="col-12">
                        <form method="post" asp-action="Index" asp-controller="User" asp-area="Admin">
                            <div class="row mb-3">
                                <div class="col-md-4 col-sm-12">
                                    <label asp-for="Name" class="form-label text-center">Name</label>
                                    <input asp-for="Name" class="form-control" Placeholder="Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label asp-for="EmailId" class="form-label text-center">Email</label>
                                    <input asp-for="EmailId" class="form-control" Placeholder="Email">
                                    <span asp-validation-for="EmailId" class="text-danger"></span>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label asp-for="MobileNumber" class="form-label text-center">Mobile</label>
                                    <input type="tel" asp-for=MobileNumber class="form-control" Placeholder="Mobile">
                                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4 col-sm-12">
                                    <label asp-for="RoleId" class="form-label text-center">Role</label>
                                    <select asp-for="RoleId" class="form-control">
                                        <option value="">--Please Select--</option>
                                        <option value="1">Super Admin</option>
                                    </select>
                                    <span asp-validation-for="RoleId" class="text-danger"></span>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label asp-for="Username" class="form-label text-center">Username</label>
                                    <input asp-for="Username" class="form-control" Placeholder="User Id">
                                    <span asp-validation-for=Username class="text-danger"></span>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label asp-for="Password" class="form-label text-center">Password</label>
                                    <input asp-for="Password" class="form-control" Placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md col-sm-12">
                                    <label asp-for="Address" class="form-label text-center">Address</label>
                                    <input asp-for="Address" class="form-control" Placeholder="Address">
                                    <span asp-validation-for="Address" class="text-danger" ControlToValidate="txtAddress"></span>
                                </div>
                                <div class="col-12 col-md-auto  p-4 mt-1">
                                    <button type="submit" class="btn btn-block btn-success">Add User</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 ">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">List Of User</h5>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <div class="row overflow-scroll overflow-visible">
                            <table id="dataTableData" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>EmailId</th>
                                        <th>Mobile</th>
                                        <th>Role</th>
                                        <th>User Id</th>
                                        <th>Password</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var table;
        var users;
        $(document).ready(function () {
            GetUsers(() => CreateTable())
        })

        function GetUsers(next) {
            $.ajax({
                url: "/Admin/User/GetUsersJson",
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    users = response
                    next();
                }
            })
        }

        function CreateTable() {
            table = $('#dataTableData').DataTable({
                bProcessing: true,
                bLengthChange: true,
                lengthMenu: [[10, 25, -1], [10, 25, 'All']],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: users,
                columns: [
                    {
                        data: "Name",
                        render: (data, type, row, meta) => {
                            return row.name;
                        }
                    },
                    {
                        data: "EmailId",
                        render: (data, type, row, meta) => {
                            return row.emailId;
                        }
                    },
                    {
                        data: "Mobile",
                        render: (data, type, row, meta) => {
                            return row.mobileNumber;
                        }
                    },
                    {
                        data: "Role",
                        render: (data, type, row, meta) => {
                            return row.roleName;
                        }
                    },
                    {
                        data: "UserId",
                        render: (data, type, row, meta) => {
                            return row.username;
                        }
                    },
                    {
                        data: "Password",
                        render: (data, type, row, meta) => {
                            return row.password;
                        }
                    },
                    {
                        data: "Status",
                        render: (data, type, row, meta) => {
                            return row.status;
                        }
                    },
                    {
                        data: "Action",
                        render: (data, type, row, meta) => {
                            return `<a id="${row.loginId}" role="button" style="background: #343A40;" class="btn" onclick="DeleteUser(this)">
                                                                                                                <i class="fa fa-trash text-white"></i>
                                                                                                            </a>
                                                                                                            <a id="${row.loginId}" role="button" class="btn bg-danger modelc-toggler" model-target="#myModal" onclick="OpenModal(this)">
                                                                                                                <i class="fa fa-edit text-white"></i>
                                                                                                            </a>`
                        }
                    }
                ]
            })
        }

        function DeleteUser(obj){
            var id = $(obj).attr('id');

            $.ajax({
                url: `/Admin/User/DeleteUser/${id}`,
                type: "Delete",
                dataType: "json",
                success: (res) => {
                    if (res) {
                        dtRow = $(obj).closest('tr');  //assigning value on click delete
                        var stockistTable = $('#dataTableData').DataTable();
                        stockistTable.row(dtRow).remove().draw(false);
                    }
                }
            })
        }

        function OpenModal(obj) {
            var modal = $(obj).attr('model-target');

            var id = $(obj).attr('id');

            $.ajax({
                url: `/Admin/User/GetUserById/${id}`,
                type: 'GET',
                dataType: 'json',
                success: (res) => {
                    //debugger;
                    $('#lblId').val(res.loginId);
                    $('#txtName').val(res.name);
                    $('#txtEmail').val(res.emailId);
                    $('#txtMobile').val(res.mobileNumber);
                    $('#ddlRole').prop('selectedIndex', 0);
                    $('#txtUsername').val(res.username);
                    $('#txtAddress').val(res.address);
                }
            });

            $(modal).css('display', 'block');
        }

        $('#editForm').on('submit', function (e) {
            e.preventDefault();

            var data = {
                loginId: $('#lblId').val(),
                name: $('#txtName').val(),
                emailId: $('#txtEmail').val(),
                roleId: $('#ddlRole').val(),
                mobileNumber: $('#txtMobile').val(),
                username: $('#txtUsername').val(),
                password: $('#txtPassword').val(),
                address: $('#txtAddress').val()
            };

            console.log(data);

            $.ajax({
                url: '/Admin/User/UpdateUser',
                type: 'PUT',
                data: data,
                dataType: 'json',
                success: (res) => {
                    debugger;
                    if (res) {
                        GetUsers(() => {
                            table.clear();
                            table.rows.add(users).draw();
                        })
                    }
                }
            });

            $('#myModal').css('display', 'none');

        });
    </script>
}