@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Event Category";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model ArticleCategoryModel
@*Modal for Update*@
<div id="myModal" class="modalc rounded-3">

    <!-- Modal content -->
    <div class="modalc-content rounded-3 w-50">
        <div class="row justify-content-end">
            <div class="d-flex justify-content-end">
                <span class="modalc-close modalc-close-icon">&times;</span>
            </div>
        </div>
        <h3 class="text-center mb-3">Update Event Category</h3>
        <div class="p-3">
            <form id="editForm">
                <label id="lblId" class="d-none"></label>
                <div class="row">
                    <div class="mb-3 col-12 col-lg-4">
                        <label for="Category" class="form-label text-center">Event Category</label>
                        <input id="txtCategory" class="form-control" name="Category" placeholder="Please Enter the Article Category" required />
                    </div>

                    <div class="mb-3 col-12 col-lg">
                        <label for="ShowOnHomePage" class="form-label text-center">Show On Home Page</label>
                        <select id="ddlSOHP" class="form-select" required>
                            @*<option value="">--Please Select--</option>*@
                            <option value=1>Yes</option>
                            <option value=>No</option>
                        </select>
                    </div>
                    <div class="mb-3 col-12 col-lg">
                        <label for="ShowOnMainMenu" class="form-label text-center">Show On Main Menu</label>
                        <select id="ddlSOMM" class="form-select" required>
                            @*<option value="">--Please Select--</option>*@
                            <option value=1>Yes</option>
                            <option value=>No</option>
                        </select>
                    </div>

                    <div class=" col-12 col-lg-auto py-lg-4">
                        <button type="submit" class="btn btn-block btn-success mt-lg-1">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@*Modal for Insert*@
<div id="addModal" class="modalc rounded-3">

    <!-- Modal content -->
    <div class="modalc-content rounded-3 w-50">
        <div class="row justify-content-end">
            <div class="d-flex justify-content-end">
                <span class="modalc-close modalc-close-icon">&times;</span>
            </div>
        </div>
        <h3 class="text-center mb-3">Insert Event Category</h3>
        <div class="p-3">
            <form id="addForm">
                <div class="row">
                    <div class="mb-3 col-12 col-lg-4">
                        <label for="Category" class="form-label text-center">Event Category</label>
                        <input id="addCategory" class="form-control" name="Category" placeholder="Please Enter the Article Category" required />
                    </div>

                    <div class="mb-3 col-12 col-lg">
                        <label for="ShowOnHomePage" class="form-label text-center">Show On Home Page</label>
                        <select id="ddlAddSOHP" class="form-select" required>
                            @*<option value="">--Please Select--</option>*@
                            <option value=1>Yes</option>
                            <option value=>No</option>
                        </select>
                    </div>
                    <div class="mb-3 col-12 col-lg">
                        <label for="ShowOnMainMenu" class="form-label text-center">Show On Main Menu</label>
                        <select id="ddlAddSOMM" class="form-select" required>
                            @*<option value="">--Please Select--</option>*@
                            <option value=1>Yes</option>
                            <option value=>No</option>
                        </select>
                    </div>

                    <div class=" col-12 col-lg-auto py-lg-4">
                        <button type="submit" class="btn btn-block btn-success mt-lg-1">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="notice-wrap">
        <label ID="lblMessage" class="notice-wrap"></label>
    </div>
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Manage Event Category</h1>
    </div>
    @*<div class="row">
        <div class="col-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="col-12">
                        <form method="post" asp-action="Event" asp-controller="Category" asp-area="Admin">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <label asp-for="Category" class="form-label text-center">Event Category</label>
                                    <input class="form-control" asp-for="Category" placeholder="Please Enter the Event Category" />
                                    <span asp-validation-for="Category" class="text-danger"></span>
                                </div>

                                <div class="col-md-3 col-sm-12">
                                    <label asp-for="ShowOnMainMenu" class="form-label text-center">Show On Main Menu</label>
                                    <select asp-for="ShowOnMainMenu" class="form-select">
                                        <option value="">--Please Select--</option>
                                        <option value=true>Yes</option>
                                        <option value=false>No</option>
                                    </select>
                                    <span asp-validation-for="ShowOnMainMenu" class=text-danger></span>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label asp-for="ShowOnHomePage" class="form-label text-center">Show On Home Page</label>
                                    <select asp-for="ShowOnHomePage" class="form-select">
                                        <option value="">--Please Select--</option>
                                        <option value=true>Yes</option>
                                        <option value=false>No</option>
                                    </select>
                                    <span asp-validation-for="ShowOnHomePage" class="text-danger"></span>
                                </div>
                                <div class="col-2 p-4 mt-1">
                                    <button type="submit" class="btn btn-block btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="col-12 ">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">List Of All Event Category</h5>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <div class="row">
                        <div class="d-flex justify-content-end mb-3">
                            <a class="text-primary modelc-toggler" model-target="#addModal"><i class="fa-regular fa-square-plus"></i> Add Category</a>
                        </div>
                        <table id="dataTableData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Event Category</th>
                                    <th>Show on Home Page</th>
                                    <th>Show on Main Menu</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            @*foreach (var item in (ViewBag.EventCategories as IEnumerable<EventCategoryModel>))
                            {
                                <tr>
                                    <td>@item.Category</td>
                                    <td>@item.ShowOnHomePage</td>
                                    <td>@item.ShowOnMainMenu</td>
                                    <td>
                                        <a role="button" style="background: #343A40;" class="btn" href="/Admin/Category/EventDelete/@item.Id">
                                            <i class="fa fa-trash text-white"></i>
                                        </a>
                                        <a role="button" class="btn btn-danger">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            }*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var table;
        var category;
        $(document).ready(function () {
            GetCategory(() => CreateTable())
        })

        function GetCategory(next) {
            $.ajax({
                url: "/Admin/Category/GetEventJson",
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    category = response
                    next();
                }
            })
        }

        function CreateTable() {
            table = $('#dataTableData').DataTable({
                bProcessing: true,
                bLengthChange: true,
                lengthMenu: [[10, 25, -1], [10, 25, 'All']],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: category,
                columns: [
                    {
                        data: "Event Category",
                        render: (data, type, row, meta) => {
                            return row.category;
                        }
                    },
                    {
                        data: "Show on Home Page",
                        render: (data, type, row, meta) => {
                            return row.showOnHomePage ? "Yes" : "No";
                        }
                    },
                    {
                        data: "Show on Main Menu",
                        render: (data, type, row, meta) => {
                            return row.showOnMainMenu ? "Yes" : "No";
                        }
                    },
                    {
                        data: "Actions",
                        render: (data, type, row, meta) => {
                            return `<a id="${row.id}" role="button" style="background: #343A40;" class="btn" onclick="DeleteEvent(this)">
                                                                                        <i class="fa fa-trash text-white"></i>
                                                                                    </a>
                                                                                    <a id="${row.id}" role="button" class="btn bg-danger modelc-toggler" model-target="#myModal" onclick=(OpenModal(this))>
                                                                                        <i class="fa fa-edit text-white"></i>
                                                                                    </a>`
                        }
                    }
                ]
            })
        }

        function DeleteEvent(obj) {
            var id = $(obj).attr('id');

            $.ajax({
                url: `/Admin/Category/DeleteEvent/${id}`,
                type: "Delete",
                dataType: "json",
                success: (res) => {
                    if (res) {
                        dtRow = $(obj).closest('tr');  //assigning value on click delete
                        var stockistTable = $('#dataTableData').DataTable();
                        stockistTable.row(dtRow).remove().draw(false);
                    }
                }
            })
        }

        function OpenModal(obj) {
            var modal = $(obj).attr('model-target');

            var id = $(obj).attr('id');

            $.ajax({
                url: `/Admin/Category/GetEventById/${id}`,
                type: 'GET',
                dataType: 'json',
                success: (res) => {
                    //debugger;
                    $('#lblId').val(res.id);
                    $('#txtCategory').val(res.category);
                    $('#ddlSOHP').prop('selectedIndex', res.showOnHomePage ? 0 : 1);
                    $('#ddlSOMM').prop('selectedIndex', res.showOnMainMenu ? 0 : 1);

                }
            })

            $(modal).css('display', 'block');
        }

        $('#editForm').on('submit', function (e) {
            e.preventDefault();

            var data = {
                id: $('#lblId').val(),
                category: $('#txtCategory').val(),
                showOnHomePage: Boolean($('#ddlSOHP').val()),
                showOnMainMenu: Boolean($('#ddlSOMM').val())
            };

            console.log(data);

            $.ajax({
                url: '/Admin/Category/UpdateEvent',
                type: 'PUT',
                data: data,
                dataType: 'json',
                success: (res) => {
                    if (res) {
                        GetCategory(() => {
                            table.clear();
                            table.rows.add(category).draw();
                        })
                    }
                }
            });
            $('#editForm')[0].reset();
            $('#myModal').css('display', 'none');

        });

        $('#addForm').on('submit', function (e) {
            e.preventDefault();

            var data = {
                category: $('#addCategory').val(),
                showOnHomePage: Boolean($('#ddlAddSOHP').val()),
                showOnMainMenu: Boolean($('#ddlAddSOMM').val())
            };

            console.log(data);

            $.ajax({
                url: '/Admin/Category/CreateEvent',
                type: 'POST',
                data: data,
                dataType: 'json',
                success: (res) => {
                    if (res) {
                        GetCategory(() => {
                            table.clear();
                            table.rows.add(category).draw();
                        })
                    }
                }
            });
            $('#addForm')[0].reset();
            $('#addModal').css('display', 'none');

        });
    </script>
}